:root {
    --main-color: #EAEBEA;
    --text-color: #000000;
    --btn-primary-color: #000000;
    --btn-border-color: #000000;
    --font: sans-serif;
    --main-padding: 5px 50px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: var(--font);
}

                /* ========== Home page======= */
/* =====NAV BAR====== */
.nav_bar{
    background: #fff;
    box-shadow: 0 2px 5px #b5b4b4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position:sticky;
    top: 0;
    z-index: 2;
    margin-bottom: 20px;
    padding: 5px 50px;
}
.nav_left img{
    width: 150px;
}
.nav_right ul{
    display: flex;
    list-style: none;
}
.nav_right ul li a{
    text-decoration: none;
    font-weight: bold;
    margin-right: 50px;
    color: var(--text-color);
}
.nav_right ul li a:hover{
    border-bottom: 4px solid #5c5c59;
}

/* ====== SLIDE SHOW 1===== */
.slide1_container{
    width: 90%;
    margin: auto;
}
.slide1_container img{
    width: 100%;
    height: 300px;
}


/* ====== SLIDE SHOW 2 & 3===== */
.slide2_container{
    margin-top: 50px;
}
.slide2_container .slide_top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    margin-top: 20px;
    padding: var(--main-padding);
}
.slide2_container .slide_top p{
    cursor: pointer;
}

.card_container{
    display: flex;
    gap: 100px;
    flex-wrap: wrap;
    position: relative;
    padding: 20px 75px;
}
.card{
    background: var(--main-color);
    border-radius: 20px;
    box-shadow: 0 1px 5px rgb(177, 174, 174);
}
.card_footer{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px;
}
.card_img img{
    width: 350px;
    height: 300px;
    border-radius: 20px;
}
.card_title{
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}
.card_button{
    display: flex;
    justify-content: space-between;
}
.card_button button{
    border-radius: 20px;
    padding: 10px 20px;
    z-index: 1;
    cursor: pointer;
}
.card_button button:first-child{
    border: 1px solid var(--btn-border-color);
}
.card_button button:last-child{
    border: none;
    background: var(--btn-primary-color);
    color: white;
}

.previous,
.next,
.right,
.left{
    position: absolute;
    top: 35%;
    font-size: xx-large;
    cursor: pointer;
}
.previous,
.left{
    left: 2%;
}
.next,
.right{
    right: 2%;
}

/* =========== Section===== */
section{
    display: flex;  
    align-items: center;
    margin: 30px 10px;
    padding: var(--main-padding);
}
.section_left h1{
    font-size: xxx-large;
}
.section{
    margin-top: 10px;
}
.section button{
    padding: 10px 20px;
}


            /* ==========Store page========== */
.search_container{
    display: flex;
    margin-top: 20px;
    width: 90%;
    margin: 20px auto;
}
.search_input{
    display: flex;
    width: 100%;
}
select{
    border-radius: 10px;
    outline: none;
    border-radius: 10px 0 0 10px;
}
input[type="search"]{
    width: 100%;
    padding: 15px;
    border-radius: 0 10px 10px 0;
    outline: none;
    border: 1px solid #000;
}

.detail{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: var(--main-padding);
    margin-bottom: 20px;
}
.img_detail{
    display: flex;
    flex-direction: column;
    gap: 15px;  
}
.btn_detail{    
    justify-content:flex-start;
    gap: 10px;
}


/* ======= Footer ====== */
footer{
    background: var(--main-color);
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;   
}
.more{
    display: flex;
    flex-direction: column;
    gap: 10px ;
}
.more p a{
    text-decoration: none;
    color: var(--text-color);
}
.social_madia i{
    font-size:x-large;
    margin-right: 3px;
}








